* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: url("./assets/DM_Sans/static/DMSans-Regular.ttf");
}
body{
  background-color: #eef2f7;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app{
  width: 85%;
  margin: 30px auto;
}

.heading{
  font-size: 1.4rem;
  font-weight: 600;
  color: #202020;
  margin-bottom: 15px;
}
.search-setion{
  margin-bottom: 15px;
  justify-content: left;
  gap: 20px;
}